<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_0/p_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,582},{168,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,172}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,582},{168,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,172}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,181},{162,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,173}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{149,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,173}}</string>
                <key>sourceSize</key>
                <string>{151,173}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{162,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,170}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,177},{170,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,356},{169,171}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,171}}</string>
                <key>sourceSize</key>
                <string>{171,173}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,406},{159,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,174}}</string>
                <key>sourceSize</key>
                <string>{161,176}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,817},{156,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,175}}</string>
                <key>sourceSize</key>
                <string>{158,177}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,818},{147,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,176}}</string>
                <key>sourceSize</key>
                <string>{149,178}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{146,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,177}}</string>
                <key>sourceSize</key>
                <string>{148,179}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,639},{145,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,177}}</string>
                <key>sourceSize</key>
                <string>{147,179}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,459},{149,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,178}}</string>
                <key>sourceSize</key>
                <string>{151,178}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,227},{150,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,177}}</string>
                <key>sourceSize</key>
                <string>{152,177}</string>
            </dict>
            <key>p_0/p_0_0/p_0_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,639},{146,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,176}}</string>
                <key>sourceSize</key>
                <string>{148,176}</string>
            </dict>
            <key>p_0/p_0_1/p_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{106,178}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,178}}</string>
                <key>sourceSize</key>
                <string>{108,180}</string>
            </dict>
            <key>p_0/p_0_1/p_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,181},{98,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,174}}</string>
                <key>sourceSize</key>
                <string>{100,176}</string>
            </dict>
            <key>p_0/p_0_1/p_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,121},{96,169}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,169}}</string>
                <key>sourceSize</key>
                <string>{98,171}</string>
            </dict>
            <key>p_0/p_0_1/p_0_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{117,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,170}}</string>
                <key>sourceSize</key>
                <string>{119,172}</string>
            </dict>
            <key>p_0/p_0_1/p_0_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{126,173}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,173}}</string>
                <key>sourceSize</key>
                <string>{128,175}</string>
            </dict>
            <key>p_0/p_0_2/p_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{130,226}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,226}}</string>
                <key>sourceSize</key>
                <string>{132,228}</string>
            </dict>
            <key>p_0/p_0_2/p_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,227}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,227}}</string>
                <key>sourceSize</key>
                <string>{115,229}</string>
            </dict>
            <key>p_0/p_0_2/p_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{111,223}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,223}}</string>
                <key>sourceSize</key>
                <string>{113,225}</string>
            </dict>
            <key>p_0/p_0_2/p_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{113,220}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,220}}</string>
                <key>sourceSize</key>
                <string>{115,222}</string>
            </dict>
            <key>p_0/p_0_2/p_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{129,223}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,223}}</string>
                <key>sourceSize</key>
                <string>{131,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reimu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:674abb893c8fee06dba6bb5532b40d27:1/1$</string>
            <key>textureFileName</key>
            <string>reimu.png</string>
        </dict>
    </dict>
</plist>
