<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ep/ep_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{46,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,98}}</string>
                <key>sourceSize</key>
                <string>{46,98}</string>
            </dict>
            <key>pp/pp_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,768}}</string>
                <key>sourceSize</key>
                <string>{508,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>picture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8578b35946e0f2b5010933015566d58:1/1$</string>
            <key>textureFileName</key>
            <string>picture.png</string>
        </dict>
    </dict>
</plist>
